<div class="story-container">
  <h2>About</h2>
  <p>You've found a collection of stories from undergraduate writers at the University of Cincinnati. Together, we generated lists containing characters names starting with A & Z. We imagined settings from prompts like, "an unsual indoor space," or objects from "something as big as a toaster-- but not a toaster, and not a cat." Then we wrote for twenty minutes.</p>
  <p> This is what happened.</p>
  <br><br>
</div>