<% @stories.each do |story| %>
	<h2><%= story.title %></h2>
	<h4><%= story.author %></h4>
	<p><%= truncate(story.body, :length => 300) %></p>
	<hr>
  	<p><%= link_to "Read", story %></p>	
  	<br>
  	<br>
<% end %>